/* 文章基本信息 */
#article-info {
    padding-bottom: 20px;
}
#article-title {
    box-sizing: content-box;
    display: block;
    height: 25px;
    line-height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.11);
    width: 500px;
    padding: 2px 10px;
}
#article-btn-group {
    padding-top: 20px;
}
#article-btn-group > * {
    float: right;
}
#article-btn-group button {
    margin-left: 5px;
    width: 100px;
    height: 50px;
    line-height: 50px;
}