* {
    margin: 0;
    padding: 0;
    color: #555;
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    outline: none;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1;
    font-weight: normal;
}
a:link{text-decoration:none; cursor:pointer;}
a:visited{text-decoration:none; cursor:pointer;}
a:active{text-decoration:none; cursor:pointer;}
a:hover{text-decoration:none; cursor:pointer;}
ul {
    list-style: none inside;
}
ol {
    list-style-position: inside;
}
.clear::after {
    display: block;
    content: '';
    clear: both;
}
button {
    background-color: white;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
button:hover {
    background-color: rgba(0,0,0,0.01);
}