* {
    margin: 0;
    padding: 0;
    color: #555;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    outline: none;
}
a:link{text-decoration:none; cursor:pointer;}
a:visited{text-decoration:none; cursor:pointer;}
a:active{text-decoration:none; cursor:pointer;}
a:hover{text-decoration:none; cursor:pointer;}
ul {
    list-style: none inside;
}
ol {
    list-style-position: inside;
}
.clear::after {
    display: block;
    content: '';
    clear: both;
}
button {
    background-color: white;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
button:hover {
    background-color: rgba(0,0,0,0.01);
}