/* 页面布局 */
#page-container {
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
}
#article-info {
    border-bottom: 1px solid rgba(0,0,0,0.11);
    padding-bottom: 10px;
}
#article-date {
    margin-top: 15px;
}
#article-title a {
    color: black;
    font-size: 30px;
}
#content-container {
    padding-top: 30px;
}

/* 文章内容, 富文本样式 */
#content-container h1,h2,h3,h4,h5,h6,h7 {
    color: #444;
}
#content-container > * {
    color: #333333;
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 10px;
}
#content-container h1 {
    font-size: 30px;
}
#content-container h2 {
    font-size: 25px;
}
#content-container h3 {
    font-size: 20px;
}
#content-container h4 {
     font-size: 18px;
}
#content-container h5 {
    font-size: 16px;
}
#content-container h6 {
    font-size: 14px;
}
#content-container h7 {
    font-size: 12px;
}
#content-container a {
    color: #6495ed;
}

/* 回到首页 */
#home-btn {
    position: fixed;
    right: 90%;
    top: 50px;
}
#home-btn img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
#home-btn-tip {
    margin-top: 5px;
    text-align: center;
    color: black;
    font-size: 15px;
}